@model IEnumerable<Task01.Models.Project>
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Projects Information</h1>
    <p class="lead">Project management portal has the capacity to help plan, organize, and manage resource tools and develop resource estimates.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>All Projects</h2>
        <table class="table table-bordered">
            <thead class="info">
                <tr>
                    <th>Project Title</th>
                    <th>Start Date</th>
                    <th>Finished Date</th>
                    <th>Project Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="info">
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinishedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectStatus)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>